<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Recipe Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle">Manage Recipe</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Add ingredients to shopping list</a>
                <a class="dropdown-item" href="#">Edit Recipe</a>
              </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Decription
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>